@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: rgb(61, 61, 61);
}
@media only screen and (max-width : 750px) {
  body {
    padding: 0 25px;
    font-size: 12px;
  }
}
@media only screen and (max-width : 550px) {
  body {
    padding: 0 10px;
    height: 100%;
  }
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
}
@media only screen and (max-width : 550px) {
  #main-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
#main-container .left-wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  background-color: white;
  padding: 2rem 6rem 3rem;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width : 750px) {
  #main-container .left-wrapper {
    padding: 2rem 3rem;
  }
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
  }
}
#main-container .left-wrapper header .logo-wrapper img {
  width: 100px;
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper header .logo-wrapper {
    margin-bottom: 25px;
    padding-left: 2rem;
  }
}
#main-container .left-wrapper header .mobile-hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 45px;
  display: none;
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper header .mobile-hero-wrapper {
    display: block;
  }
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper header .mobile-hero-wrapper img {
    width: 100%;
  }
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper header {
    width: 100%;
  }
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper main {
    padding: 0 2rem;
  }
}
#main-container .left-wrapper main h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 25px;
}
#main-container .left-wrapper main h1 .first-word-title {
  color: var(--Desaturated-Red);
  font-weight: 300;
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper main h1 {
    text-align: center;
  }
}
#main-container .left-wrapper main p {
  color: var(--Desaturated-Red);
  line-height: 1.5;
  margin-bottom: 35px;
}
@media only screen and (max-width : 550px) {
  #main-container .left-wrapper main p {
    text-align: center;
  }
}
#main-container .left-wrapper form {
  position: relative;
}
#main-container .left-wrapper form .input-control input {
  width: 100%;
  height: 40px;
  padding: 8px 105px 8px 15px;
  border-radius: 50px;
  border: 1px solid var(--Desaturated-Red);
  font-weight: 600;
}
#main-container .left-wrapper form .input-control input:focus {
  outline: 0;
}
#main-container .left-wrapper form .input-control input::-moz-placeholder {
  color: rgb(171, 149, 149);
  opacity: 0.7;
}
#main-container .left-wrapper form .input-control input:-ms-input-placeholder {
  color: rgb(171, 149, 149);
  opacity: 0.7;
}
#main-container .left-wrapper form .input-control input::placeholder {
  color: rgb(171, 149, 149);
  opacity: 0.7;
}
#main-container .left-wrapper form .input-control .error-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 83px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#main-container .left-wrapper form .input-control .error-icon img {
  width: 17px;
}
#main-container .left-wrapper form .input-control .error-txt {
  color: #ff3860;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  padding-left: 20px;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}
#main-container .left-wrapper form .success input {
  border-color: #09c372;
}
#main-container .left-wrapper form .error input {
  border-color: #ff3860;
}
#main-container .left-wrapper form .input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
#main-container .left-wrapper form button {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 80px;
  height: 42px;
  border: none;
  border-radius: 50px;
  background: var(--Soft-Red);
  filter: drop-shadow(0px 6px 8px rgba(16, 16, 16, 0.3));
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
#main-container .left-wrapper form button:hover {
  background: hsl(0deg, 63%, 80%);
}
#main-container aside {
  width: 40%;
  height: 500px;
  background-image: url("../images/hero-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width : 550px) {
  #main-container aside {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #333;
  width: 100%;
}
@media only screen and (max-width : 550px) {
  footer {
    position: relative;
    bottom: 0;
  }
}
footer .attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=main-stylesheet.css.map */