@import "_var.scss";

body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 100vh;
   background-color: rgb(94, 94, 94);
}
#main-container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 500px;

   .left-wrapper{
      display:flex;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;
      width: 60%;
      height: 100%;
      background-color: white;
      padding: 3rem 6rem;
      background-image: url('/images/bg-pattern-desktop.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      header{
         .logo-wrapper{
            img{
               width: 100px;
            }
         }
      }
      main{

         h1{
            font-size: 2rem;
            font-weight: 600;
            color:#333;
            text-transform: uppercase;
            letter-spacing: 10px;
            margin-bottom: 25px;
            .first-word-title {
               color: var(--Desaturated-Red);
               font-weight: 300;
            }
         }
         p{
            color: var(--Desaturated-Red);
            line-height: 1.5;
            margin-bottom: 35px;
         }
      }
      form{
         position: relative;

         .input-control{

            input {
               width: 100%;
               height: 40px;
               padding: 8px 110px 8px 15px;
               border-radius: 50px;
               border: 1px solid var(--Desaturated-Red);
               font-weight: 600;
            }
            input:focus {
               outline: 0;
            }
            input::placeholder{
            color: rgb(171, 149, 149);
            opacity: 0.7;
            }
            .error-icon{
               display: flex;
               justify-content: center;
               align-items: center;
               position: absolute;
               top: 11px;
               right: 85px;
               opacity: 0;
               transition: all 0.3s ease-in-out;
               img {
                  width: 20px;
               }
            }
            .error-txt{
               color: #ff3860;
               font-size: 12px;
               font-weight: 700;
               height: 25px;
               padding-left: 20px;
               margin-top: 10px;
               line-height: 1.5;
               transition: all 0.3s ease-in-out;
            }
         }
         .success input {
            border-color: #09c372;
         }
        .error input {
            border-color: #ff3860;
         }
        .input-control .error {
            color: #ff3860;
            font-size: 9px;
            height: 13px;
         }

         button{
            position: absolute;
            top: -1px;
            right: -1px;
            width: 80px;
            height: 42px;
            border: none;
            border-radius: 50px;
            // background: linear-gradient(to right, var(--Desaturated-Red), var(--Soft-Red));
            background: var(--Soft-Red);
            filter: drop-shadow(0px 6px 8px rgba(16, 16, 16, 0.3));
            transition: all 0.4s ease-in-out;
            cursor: pointer;
            // rgb(180, 133, 133)
         }
         button:hover{
            background: hsl(0, 63%, 80%);
            // filter: drop-shadow(0px 6px 8px rgba(16, 16, 16, 0.4));
         }
         
      }
   }
   //Styling for right side
   aside{
      width:40%;
      height: 500px;
      background-image: url('/images/hero-desktop.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }