#main-container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;

   
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }